.card-body{
  background-color: lightblue;
  /* background-image: url('../../assets/images/background.jpg');
  background-size: cover;
  background-position: center; */
}

.filter-container {
  margin: 20px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 25%;
}

#location-filter {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  background-color: #ffffff;
  cursor: pointer;
}

#location-filter:focus {
  border-color: #007bff;
  outline: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin: 0;
  /* background-color: rgb(191, 226, 238); */
  background-image: url('../../assets/images/HomeBg.jpg');
  background-size:contain;
  background-position: center;
}

.card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  width: 28%;
  margin-bottom: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.card:last-child {
  margin-right: 0;
}

.card-image {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.card-content {
  padding: 10px;
  height: 40%;
  text-align: left;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h4 {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.card p {
  font-size: 0.9em;
  margin: 2px 0;
  color: #666;
}

@media (max-width: 1024px) {
  .card {
    width: calc(50% - 20px);
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .filter-container {
    display: block;
    width: 100%;
    margin: 0 20px;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    width: 100%;
    max-width: 400px;
    margin-right: 0;
  }
}

.favorite-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: rgb(207, 196, 196); /* Default color */
  margin-bottom: 20px;
}

.favorite-button.favorited {
  color: red; /* Color when favorited */
}

marquee {
  font-size: 18px;
  color: #d52607; /* Tomato color for text */
  background-color: #f0f8ff; /* Light blue background */
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px;
  font-family: 'Arial', sans-serif;
}