<mat-toolbar class="navbar-bg">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <!-- Left section: Navigation links -->
    <div class="navbar-links">
      <ul class="nav">
        <li><a routerLink="/home"  matTooltip="Home" class="nav-link px-2 "><img src="../../assets/images/HomeP.png" height="100px" alt="" srcset=""></a></li>
        <li><a routerLink="/favourite-restaurant"  matTooltip="View Favorite Restaurants" class="nav-link px-2 "><img src="../../assets/images/red-removebg-preview.png" height="100px" alt="" srcset=""></a></li>
      </ul>
    </div>

    <!-- Center section: Title -->
   <a routerLink="/home">
    <div class="navbar-title">
      <img src="../../assets/images/logo-removebg-preview.png" height="200px" alt="" srcset="">
    </div>
   </a>

    <!-- Right section: User login/logout -->
    <div class="navbar-user-actions d-flex align-items-center">
      <button *ngIf="!isUserLoggedIn()" matTooltip="Login" class="btn btn-login" (click)="navigateToLogin()">
        <img src="../../assets/images/login.png" height="90px" alt="Login Icon" class="icon-img">
      </button>
      <button *ngIf="isUserLoggedIn()" matTooltip="Logout" class="btn btn-logout" (click)="logOut()">
        <img src="../../assets/images/logout.png" height="90px" alt="Logout Icon" class="icon-img">
        
      </button>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
